<% @questions = @user.questions %>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>QuestionBox</title>
  </head>
  
  <header>
    <%= render "navigation" %>
  </header>

  <main role="main" class="container">
    <div class="jumbotron">
      <h1><%= @user.username %></h1>
      <p class="lead">Member since <%= @user.created_at.year %>.</p>
      <strong>Number of Question: <%= @questions.count %> </strong>
    </div>
  </main>


  <%# <% @user.questions.any? do %> %>

  <%# <div class='mt-5'> %>
    <%# <%= render 'shared/question_list2', questions: @questions %> %>
  <%# </div> %>