<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>QuestionBox</title>
  </head>
  
  <header>
    <%= render "navigation" %>
  </header>

<%= form_with scope: :answer, url: answers_path, local: true do |form| %>

    <% if @answer.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <h4>
                <%= pluralize(@answer.errors.count, "error") %>
                prohibited this answer from being saved:
            </h4>
            <ul>
                <% @answer.errors.full_messages.each do |msg| %>
                    <li><h5><%= msg %></h5></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<h2 class = "input-block col-md-3">Answer</h2>
  <div  class="input-block col-md-3">
    <%= form.text_area :answer_body, :class => 'form-control', :placeholder => 'Post answer here' %>
  </div> <br>
  <div class="input-block col-md-3">
    <%= form.text_field :user_id, :class => 'form-control', :placeholder => 'User' %>
  </div> <br>
  <div  class="input-block col-md-3">
  <%= form.submit "Submit Answer", new_answer_path :class => "btn btn-outline-success" %>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id %>
<% end %>