<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>QuestionBox</title>
  </head>
  
  <header>
    <%= render "navigation" %>
  </header>

<%= form_with(model: question, local: true) do |form| %>

    <% if @question.errors.any? %>
        <div class="alert alert-danger" role="alert">
            <h4>
                <%= pluralize(@question.errors.count, "error") %>
                prohibited this question from being saved:
            </h4>
            <ul>
                <% @question.errors.full_messages.each do |msg| %>
                    <li><h5><%= msg %></h5></li>
                <% end %>
            </ul>
        </div>
    <% end %>
<h1 class = "input-block col-md-3">New Question</h1>
  <div class="input-block col-md-3">
    <%= form.text_field :title, :class => 'form-control', :placeholder => 'Title' %>
  </div> <br>
  <div  class="input-block col-md-3">
    <%= form.text_area :question_body, :class => 'form-control', :placeholder => 'Post question here' %>
  </div> <br>
  <div class="input-block col-md-3">
    <%= form.text_field :user_id, :class => 'form-control', :placeholder => 'User' %>
  </div> <br>
  <div  class="actions" class="input-block col-md-3">
  <%= form.submit "Create Question", :class => "btn btn-outline-success" %>
  </div>
  <%= form.hidden_field :user_id, :value => current_user.id %>

<% end %>