<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>QuestionBox</title>
  </head>
  
  <header>
    <%= render "navigation" %>
  </header>

  <p id="notice"><%= notice %></p>

  <%= render 'form', question: @question %>

  <%= link_to 'Home', questions_path %> |
  <% if current_user && current_user == @question.user_id %>
  <%= link_to 'Edit', edit_question_path(@question) %> |
  <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %> 

  <% @answers.each do |comment| %>
    <div class="input-block col-md-3"><%= form.text_field :user_id, :class => 'form-control', :placeholder => 'By User' %></div> 
    <br>
    <div class="input-block col-md-3"><%= form.text_field :answer_body, :class => 'form-control'%></div> 
    <br>
    <% end %>
<% end %>
